1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [6]:
 # these exercises are the same (mixed) than that of the exam. Do them! 
l = []
for x in range(1,101):
    if (x%5==0 and  x%3==0):
        l.append("MickeyMouse")
    elif ((x%5==0) and not(x%3==0)):
        l.append("Mouse")
    elif (not(x%5==0) and (x%3==0)) :
        l.append("Mickey")
    else:
        l.append(x)

print("\n List is: ", l)
#now substitute the values
l = ["Donald" if x == "Mickey" else x for x in l]
l = ["Duck" if x == "Mouse" else x for x in l]
l = ["DonaldDuck" if x == "MickeyMouse" else x for x in l]

# l = ["Donald" if x == "Mickey" else "Duck" if x == "Mouse" else "DonaldDuck" if x == "MickeyMouse" else x for x in l]
tup = tuple(l)
print("\nTuple is: ")
print(tup)

 List is:  [1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']

Tuple is:
(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [8]:
#with swap
def swap(x,y):
    z = y
    y = x
    x = z
    return (x,y)

def swap_notmp(x,y):
    x,y = y,x
    return (x,y)
    
x,y = 4,5
x,y = swap(x,y)
print(x,y)

s = "Paolo"
d = 3
s,d = swap_notmp(s,d)
print(s,d)

5 4
3 Paolo

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [18]:
import math

def dist(x : tuple,  y: tuple) -> float:
    if len(x) != len(y):
        return "Error"
    sum2 = 0
    for i in range(0,len(x)):
        sum2 += (x[i]-y[i])*(x[i]-y[i])
    return math.sqrt(sum2)



x = (3,0)
y = (0,4)
print(dist(x,y))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [20]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"


def counter(c):
    tot = 0
    for char in s:
        if char.lower() == c.lower():
            tot+=1
    return tot

print(counter('P'))

8

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [22]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

#a will contain the occurencies. It's a dict
a = {}
for x in l:
    if x in a.keys():
        a[x]+=1
    else:
        a[x]=0


unique = [x for x in a.keys() if a[x] == 0 ]
print(unique)

[58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [25]:
def square(x):
    return x*x

def cube(x):
    return x*x*x

def power_six(x):
    return square(cube(x))

print(power_six(2))

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [26]:
l = []
for i in range(0,10):
    l.append(cube(i))

print(l)


l2 = [cube(x) for x in range(0,10)]
print(l2)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [42]:

def pyt():
    l = []
    for a in range(1,100):
        for b in range(1,100):
            s = a*a + b*b
            for c in range(1,min(s,100)):
                if s == c*c:
                    l.append((a,b,c))
    return tuple(l)

def pyt_nopt():
    l = []
    for a in range(1,100):
        for b in range(1,100):
            for c in range(1,100):
                if a*a+b*b == c*c:
                    l.append((a,b,c))
    return tuple(l)

%timeit pyt()
%timeit pyt_nopt()

16.8 ms ± 430 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)
39.3 ms ± 952 μs per loop (mean ± std. dev. of 7 runs, 10 loops each)

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [107]:
tup = (1,2,3,4,6)

def norm(t):
    counter = 0
    for i in t:
        counter = counter+i
    l = []
    for i in t:
        l.append(i/counter)
    return tuple(l)

print(tup)
print(norm(tup))

(1, 2, 3, 4, 6)
(0.0625, 0.125, 0.1875, 0.25, 0.375)